# Bỏ qua tất cả
*

# Cho phép các loại tệp
!*.py
!*.html
!*.css
!*.js

# Cho phép các thư mục chứa tệp
!app/
!app/**/
!templates/
!static/
!static/css/
!static/js/
!static/**

# Cho phép file cấu hình
!.gitignore
!requirements.txt

# Bỏ qua những thứ không cần
*.log
*.tmp
.env
__pycache__/
build/
dist/
uploads/
