# Bỏ qua tất cả các tệp và thư mục
*

# Ngoại trừ các tệp .py và .html
!*.py
!*.html
!*.css
!*.js

# Đảm bảo các thư mục chứa .py và .html được theo dõi
!controllers/
!models/
!templates/
!static/
!static/**/*
!app/
!app/services/

# Ngoại trừ các tệp cấu hình quan trọng
!.gitignore
!requirements.txt

# Bỏ qua các thư mục và tệp liên quan đến đóng gói
build/
dist/
app.spec

# Bỏ qua các thư mục dữ liệu và tải lên
Data_Export/
DOWNLOAD/

uploads/

# Bỏ qua thư mục Python cache
__pycache__/

# Bỏ qua các tệp tạm hoặc nhạy cảm (nếu có)
*.log
*.tmp
.env