# Bỏ qua tất cả
*

# Ngoại trừ các tệp .py, .html, .css, .js
!*.py
!*.html
!*.css
!*.js

# Cho phép các thư mục chứa file
!app/
!app/controllers/
!app/models/
!app/services/
!templates/
!static/
!static/css/
!static/js/

# Cho phép tất cả trong static
!static/**

# Không bỏ qua các tệp cấu hình quan trọng
!.gitignore
!requirements.txt

# Bỏ qua các thư mục đóng gói, dữ liệu, cache
build/
dist/
app.spec
Data_Export/
DOWNLOAD/
uploads/
__pycache__/

# Bỏ qua file tạm
*.log
*.tmp
.env
